@model IEnumerable<Practice5Model.DTO.PurchaseProductDTO>
@{
    ViewData["Title"] = "Purchase List";
}

<div class="text-center ">
    <table class="table">
        <tr>
            <th scope="col">Purchase Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">Action</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <th scope="row">@p.Purchase.PurchaseId</th>
                <td>@p.Product.Name</td>
                <td>@p.Product.PurchasePrice.ToString("c")</td>
                <td>@p.Purchase.PurchaseDate</td>
                <td>
                    <a class="" asp-action="Delete" asp-route-Id="@p.Purchase.PurchaseId">Delete</a>
                </td>
            </tr>
        }

    </table>
</div>