@model IEnumerable<Practice5Model.Models.Product>
@{
    ViewData["Title"] = "Product List";
}

<div class="text-danger" asp-validation-summary="All"></div>

<div class="text-center ">

    @if(Model != null)
    {
        <table class="table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Action</th>
            </tr>
            @foreach (var p in Model)
            {
                <tr>
                    <th scope="row">@p.ProductId</th>
                    <td>@p.Name</td>
                    <td>@p.SellPrice.ToString("c")</td>
                    <td>@p.PurchasePrice.ToString("c")</td>
                    <td>
                        <a class="" asp-action="UpdateProduct" asp-route-Id="@p.ProductId">Edit</a>
                        <a class="" asp-action="Delete" asp-route-Id="@p.ProductId">Delete</a>
                    </td>
                </tr>
            }

        </table>
    }
</div>